{% extends "base.html" %}
{% block content %}
<div class="row">
    <h3><b>{{ lesson.title if lesson.title else 'Конспект занятия' }}</b></h3>
    {% if lesson.text %}
        {{ lesson.text}}
    {% else %}
        <h4>Конспект еще на записан!</h4>
    {% endif %}
    <br/><br/>
    <!-- <h4><b>Домашнее задание</b></h4>
    <table class="table table-striped table-hover panel panel-primary">
      <thead class="panel-heading">
        <tr>
          <th class="col-lg-3">Название</th>
          <th class="col-lg-2">Оценка</th>
          <th class="col-lg-4">Сведения</th>
          <th class="col-lg-3"></th>
        </tr>
      </thead>
      <tbody class="panel-body">
        {% if lesson.tasks.all()|length == 0%}
            <tr><td colspan="5" align="center"><b>Сегодня нет домашнего задания!</b></td></tr>
        {% endif %}
        {% for task in lesson.tasks.all()%}
        <tr {% if task.status == 1 %} class="success"{% endif%}>
          <td><b>{{ task.homework.title }}-{{ task.title }}</b></td>
          <td>{{ task.points if task.points else '-' }}</td>
          <td>{{ task.student_answer if task.student_answer else '-' }}</td>
          <td>
            {% if task.status == 0 %}
              <a class="btn btn-primary" href="{{ url_for('show_student_task', task_id=task.id) }}">✐</a>
            {% else %}
            {{ task.teacher_answer if task.teacher_answer else '-' }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
</div>
{% endblock %}