{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="row">
        <h3 class="col-lg-4"><b>Курс: </b>{{ course.title }}</h3>
        <h4 class="col-lg-4"><br><b>Преподаватель: </b>{{ course.teacher.fio }} ({{ course.teacher.phone }})</h4>
        <h4 class="col-lg-4"><br>с {{ course.start_date.strftime('%d.%m.%Y') }} по {{ course.end_date.strftime('%d.%m.%Y') }}</h4>
      </div>
    <table class="table table-striped table-hover panel panel-primary">
      <thead class="panel-heading">
        <tr>
          <th class="col-lg-6">Тема занятия</th>
          <th class="col-lg-2">Время</th>
          <!-- <th class="col-lg-2">Место</th> -->
          <th class="col-lg-2">Состояние занятия</th>
          {% if is_students_course %}
          <th class="col-lg-2">Посещение</th>
          <!-- <th class="col-lg-2"></th> -->
          {% endif %}
        </tr>
      </thead>
      <tbody class="panel-body">
        {% if course.lessons.all()|length == 0%}
            <tr><td colspan="5" align="center"><b>Сегодня нет занятий!</b></td></tr>
        {% endif %}
        {% for lesson in course.lessons.all() %}
        <tr id="{{ lesson.id }}"
              {% if lesson.students.filter(Presence.student_id == user.student.id).first() %}
                {% if lesson.students.filter(Presence.student_id == user.student.id).first().status == 1 %}
                  class="success"
                {% elif lesson.students.filter(Presence.student_id == user.student.id).first().status == -1 %}
                  class="warning"
                {% elif lesson.students.filter(Presence.student_id == user.student.id).first().status == 2 %}
                  class="warning"
                {% endif%}
              {% endif %}>
          <td> {% if lesson.text or lesson.tasks.all()|length > 0%} <a href="{{ url_for('show_student_lesson', lesson_id=lesson.id) }}"> {% endif %} {{ lesson.title if lesson.title else lesson.course.title }} {% if lesson.text or lesson.tasks.all()|length > 0%}</a> {% endif %}</td>
          <td>
            {{ lesson.date.strftime('%d.%m.%Y') }}
            {% if lesson.timesheet.dow == 0 %}
              (Пн)
            {% elif lesson.timesheet.dow == 1 %}
              (Вт)
            {% elif lesson.timesheet.dow == 2 %}
              (Ср)
            {% elif lesson.timesheet.dow == 3 %}
              (Чт)
            {% elif lesson.timesheet.dow == 4 %}
              (Пт)
            {% elif lesson.timesheet.dow == 5 %}
              (Сб)
            {% elif lesson.timesheet.dow == 6 %}
              (Вск)
            {% endif%}
            {{ lesson.date.strftime('%H:%M') }}
          </td>
          <!-- <td>{{ lesson.timesheet.place.title }}</td> -->
          <td>{% if lesson.status == 1 %}Занятие проведено{% elif lesson.status == -1 %}Занятие отменено{% else %}Не отмечено{% endif%}
          </td>
          {% if is_students_course %}
          <td>
          {% if lesson.students.filter(Presence.student_id == user.student.id).first() %}
            {% if lesson.students.filter(Presence.student_id == user.student.id).first().status == 1 %}
              Посещено
            {% elif lesson.students.filter(Presence.student_id == user.student.id).first().status == 2 %}
              Отсутствовал по уважительной причине
            {% elif lesson.students.filter(Presence.student_id == user.student.id).first().status == -1 %}
              Отсутствовал
            {% endif%}
          {% else %}
            Не отмечено
          {% endif %}
          </td>
         <!--  <td>
            {% if lesson.text or lesson.tasks.all()|length > 0%}
              <a class="btn btn-primary" href="{{ url_for('show_student_lesson', lesson_id=lesson.id) }}">Конспект + ДЗ</a>
            {% endif %}
          </td> -->
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}