{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class = "col-lg-6">
    <h3>Рекомендуемые браузеры:</h3>
      <p>Для комфортной работы мы рекомендуем вам пользоваться одной из следующих программ:
      <div ><a href="https://browser.yandex.ru/download/?lite=1&banerid=020144301476643017223280491119" >Yandex</a></div>
      <div ><a href="http://www.google.com/chrome/?hl=ru">Chrome</a></div>
      <div ><a href="hhttp://www.mozilla.com/ru/firefox/">Firefox</a></div>
      </p>
      <p>Все эти программы бесплатны, ссылки ведут на официальные сайты.</p>
  </div>
  <div class = "col-lg-6">
      <h3 >Вам могут понадобиться:</h3>
          <div >
            <div ><a href="http://get.adobe.com/reader/download/">Adobe Reader</a></div>
            <p>Программа для просмотра PDF-файлов (используются просмотра и печати учебных материалов).</p>
          </div>
          <div >
            <div ><a href="http://www.teamviewer.com/ru/index.aspx">TeamViewer</a></div>
            <p>Позволяет предоставить службе поддержки доступ к вашему компьютеру. Предварительно созвонитесь со специалистом нашей службы поддержки по телефону: <nobr>8 999 134-75-26</nobr>.</p>
          </div>  
  </div>          
</div>


{% endblock %}