{% extends "base.html" %}
{% block content %}<script>
function deleteTeacher(id) {
    if (confirm('Вы уверены?')){
      // Example of client side AJAX
      // function uses jQuery to send async request to server (into '/sayhello' address)
      $.post('{{ url_for("delete_teacher") }}', {
          // params, that will be send as 'POST'
          id: id
      }).done(function(data) {
          // actions, that will be done after successfull response
          if (data.res == 1){
              com = '#' + id
              $(com).hide()
          }
      }).fail(function() {
          // actions, that will be done after UNsuccessfull response
          alert('error')
      });
    }
}
function more(id, username, password, fio, phone){
    $('#modal_id').val(id);
    $('#modal_username').val(username);
    $('#modal_password').val(password);
    $('#modal_fio').val(fio);
    $('#modal_phone').val(phone);
    $('#modal').modal('show');
}
</script>
<div class="row">
    <h3><b>Преподаватели</b>
      <a class="btn btn-success" onclick="more('', '', '');"><b>+ ДОБАВИТЬ ПРЕПОДАВАТЕЛЯ</b></a>
    </h3>
    <table class="table table-striped table-hover panel panel-primary">
      <thead class="panel-heading">
        <tr>
          <th class="col-lg-3">ФИО</th>
          <th class="col-lg-3">Логин</th>
          <th class="col-lg-3">Телефон</th>
          <th class="col-lg-4"></th>
        </tr>
      </thead>
      <tbody class="panel-body">
        <tr>
          <form action="" method="POST">
              <td><input class="form-control" type="text" name="fio" value="{{ request.form.fio }}" /></td>
              <td><input class="form-control" type="text" name="username" disabled="" /></td>
              <td><input class="form-control" type="text" name="phone" value="{{ request.form.phone }}" /></td>
              <td><button type="submit" class="btn btn-primary btn-block">Поиск</button></td>
          </form>
        </tr>
        {% if teachers|length == 0%}
            <tr><td colspan="3" align="center"><b>В списке нет ни одного преподавателя!</b></td></tr>
        {% endif %}
        {% for teacher in teachers%}
        <tr id="{{ teacher.id }}">
          <td>{{ teacher.fio }}</td>
          <td>{{ teacher.user.username }} </td>
          <td>{{ teacher.phone }}</td>
          <td class="btn-group btn-group-justified">
            <a class="btn btn-default" onclick="more('{{ teacher.id }}', '{{ teacher.user.username }}', '{{ teacher.user.password }}', '{{ teacher.fio }}', '{{ teacher.phone }}');">Редактировать</a>
            <a class="btn btn-danger" onclick="deleteTeacher({{ teacher.id }});">Удалить</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="modal" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Преподаватель</h4>
      </div>
      <form action="" method="POST">
          <div class="modal-body">
                <fieldset>
                    <input type="hidden" id="modal_id" name="modal_id" value=""/>
                    
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-3 control-label">ФИО</label>
                      <div class="col-lg-9">
                        <input class="form-control" id="modal_fio" name="modal_fio" placeholder="ФИО" type="text">
                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-3 control-label">Телефон</label>
                      <div class="col-lg-9">
                        <input class="form-control" id="modal_phone" name="modal_phone" placeholder="Номер телефона" type="text">
                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-3 control-label">Логин</label>
                      <div class="col-lg-9">
                        <input class="form-control" id="modal_username" name="modal_username" placeholder="Имя пользователя" type="text">
                      </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                      <label for="inputEmail" class="col-lg-3 control-label">Пароль</label>
                      <div class="col-lg-9">
                        <input class="form-control" id="modal_password" name="modal_password" placeholder="Пароль" type="password">
                      </div>
                    </div>
                    
                </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}